.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  height: 400px;
  width: 400px;

}
.grid {
  padding-top: 300px;
}
.cube {
  background-color: green;
  border: 1px solid black;

}

.hovered {
  background-color: red;
}

